@charset "UTF-8";

* {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
	background-color: #444444;
	color: #FFFF00;
}

a{
    color: red;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#script-viewer {
    width: 100%;
    white-space: pre-wrap;
    position: relative;
    padding-left: 80px; /* Space for line numbers */
}

/* Line numbers */
#script-viewer::before {
    content: attr(data-line-numbers);
    position: absolute;
    left: 0;
    top: 0;
    text-align: right;
    white-space: pre-wrap;
    color: #999999;
}

.script-action {
    margin-left: 20px; /* Space between script actions */
}
