 html, body {
     margin: 0;
     padding: 0;
     overflow: hidden;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,1);
 }
 * {
     box-sizing: border-box;
 }

 :root {
    --bg-1: radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.1) 75%, rgba(255, 0, 0, 0.01) 100%);
    --bg-2: radial-gradient(circle, rgba(255, 255, 0, 0.8) 0%, rgba(255, 255, 0, 0.5) 50%, rgba(255, 255, 0, 0.1) 75%, rgba(255, 255, 0, 0.01) 100%);
    --bg-3: radial-gradient(circle, rgba(0, 255, 0, 0.8) 0%, rgba(0, 255, 0, 0.5) 50%, rgba(0, 255, 0, 0.1) 75%, rgba(0, 255, 0, 0.01) 100%);
    --bg-4: radial-gradient(circle, rgba(0, 255, 255, 0.8) 0%, rgba(0, 255, 255, 0.5) 50%, rgba(0, 255, 255, 0.1) 75%, rgba(0, 255, 255, 0.01) 100%);
    --bg-5: radial-gradient(circle, rgba(0, 0, 255, 0.8) 0%, rgba(0, 0, 255, 0.5) 50%, rgba(0, 0, 255, 0.1) 75%, rgba(0, 0, 255, 0.01) 100%);
    --bg-6: radial-gradient(circle, rgba(255, 0, 255, 0.8) 0%, rgba(255, 0, 255, 0.5) 50%, rgba(255, 0, 255, 0.1) 75%, rgba(255, 0, 255, 0.01) 100%);
 }

.bouncy {
    position: absolute;
    border-radius: 50%;
}

.background {
    background: gradient (radial circle, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.1) 75%, rgba(255, 0, 0, 0.01) 100%);
    background: gradient (radial circle, rgba(125, 0, 255, 0.8) 0%, rgba(125, 0, 255, 0.4) 50%, rgba(125, 0, 255, 0.1) 75%, rgba(125, 0, 255, 0) 100%);
}